body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    align-items: center;
    padding: 10px 20px;
}
.left{
    font-size: 1.5rem;
    font-weight: bold;

}
.right {
    list-style: none;
    display: flex;
    gap: 20px;
}
.right a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.navbar {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px;
}
@media (max-width: 768px) {
    .right {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 150px;
        border-radius: 5px;
    }
    .right a {
        text-align: center;
        margin: 10px 0;
    }
    .navbar {
        display: flex;
    }

} 




